

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --col-brown: #56350a;
  --col-light-grey: #e6e2de;
  --col-med-grey: #434a4494;
  --col-dark-grey: #1d1e1e;
  --col-beige: #ddcfb1;

  --font-family-main: 'Roboto', sans-serif; /* 300/400/700 */

  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family-main);
  background-image: url('/img/solar-panel-index.jpg');
}

.index-header {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col-med-grey);
}

.index-logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--col-light-grey);
  font-size: var(--font-size-md);
  margin-left: 2rem;
}

.index-logo-span {
  color: var(--col-beige);
}

.index-logo svg {
  color: var(--col-beige);
  transform: scale(1.6);
}

.index-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  font-size: var(--font-size-base);
}

.index-links a {
  text-decoration: none;
  color: var(--col-light-grey);
}

.index-hamburger {
  display: none;
}

/*
body {
    color: white;

    background-image: url("https://media.istockphoto.com/id/595348485/photo/pink-sunset-sky-over-mountains-and-calm-lake-elgol-skye-scotland.jpg?b=1&s=170667a&w=0&k=20&c=pYVAf2BLKkrq9I2xB5EljwUbKJieYzE6JvDaMr1900s=");
    
    background-color: #cccccc;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;              
    height: 450px
  
   }
*/ 



.about {
    font-size: 25px;
    text-align: center;
    color: black;
    background-color: #cccccc;
    opacity: 01;
    border-radius: 10px;
    
}

section {
    
    text-align: center;
    border-radius: 10px;
    background-color: #cccccc;
    color: black;
    opacity: 0.7;


}

.faq {
    
  position: fixed;
  left: 50%;
  bottom: 1px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
    
}