@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --col-brown: #56350a;
  --col-light-grey: #e6e2de;
  --col-med-grey: #434a4494;
  --col-dark-grey: #1d1e1e;
  --col-beige: #ddcfb1;

  --font-family-main: 'Roboto', sans-serif; /* 300/400/700 */

  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family-main);
  background-image: url('/img/solar-panel-index.jpg');
}

.index-header {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col-med-grey);
}

.index-logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--col-light-grey);
  font-size: var(--font-size-md);
  margin-left: 2rem;
}

.index-logo-span {
  color: var(--col-beige);
}

.index-logo svg {
  color: var(--col-beige);
  transform: scale(1.6);
}

.index-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  font-size: var(--font-size-base);
}

.index-links a {
  text-decoration: none;
  color: var(--col-light-grey);
}

.index-hamburger {
  display: none;
}

.index-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero-title {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--col-dark-grey);
  padding: 2rem;
}

.index-hero-btn {
  border: none;
  background-color: var(--col-light-grey);
  color: var(--col-dark-grey);
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: var(--font-size-md);
  box-shadow: var(--box-shadow);
}

.index-hero-btn:hover {
  cursor: pointer;
  background-color: #e6e2dec9;
}

@media screen and (max-width: 700px) {
  .index-nav {
    display: none;
  }

  .index-hamburger {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .line {
    background-color: var(--col-beige);
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 15px;
  }
}

body {
    color: white;

    background-image: url("https://img.freepik.com/premium-photo/aerial-top-view-solar-panels-power-plant-photovoltaic-solar-panels-sunrise-sunset_261860-3911.jpg?w=2000");
    
    background-color: #cccccc;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    height: 1000px
 

   }

.about {
    text-align: center;
    color: black;
    background-color: #cccccc;
    opacity: 0.6;
    border-radius: 10px;
}

section {
    text-align: center;
    border-radius: 10px;
    background-color: #cccccc;
    color: black;
    opacity: 0.6;
}

.index-nav {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }