* {
  font-family: var(--font-family-main);
}

.testimonial-header {
  text-align: center;
  margin: 0 auto;
  width: 75vw;
  padding: 1rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial:nth-child(even) {
  background-color: var(--col-med-grey);
  color: var(--col-light-grey);
}

.testimonial {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem 5rem;
}
.testimonial h2 {
  text-align: end;
  text-decoration: underline;
}
.testimonial h2,
.testimonial-quote {
  margin: 1rem;
}

.testimonial-quote:before {
  font-size: var(--font-size-xl);
  content: "\201C";
}

.testimonial-quote:after {
  font-size: var(--font-size-xl);
  content: "\201d";
}

.testimonial-img {
  height: 20rem;
}
