* {
  font-family: var(--font-family-main);
}

.testimonial-header {
  background-image: url("img/solar-panel-index.jpg");
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.testimonial-header h1,
.testimonial-header h2 {
  padding: 0.5rem;
  color: var(--col-dark-grey);
}

.testimonials {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial:nth-child(even) {
  background-color: var(--col-light-grey);
  color: var(--col-dark-grey);
  flex-direction: row-reverse;
}
.testimonial:nth-child(odd) {
  background-color: var(--col-dark-grey);
  color: var(--col-light-grey);
  box-shadow: 0px 0px 10px 5px var(--col-dark-grey);
  z-index: 1;
}

.testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
}

.testimonial h2,
.testimonial-quote {
  font-size: var(--font-size-base);
  line-height: var(--font-size-base);
  margin: 1rem;
  padding: 1rem;
}

.testimonial h2 {
  text-align: end;
  font-size: var(--font-size-md);
}

.testimonial-quote {
  font-style: italic;
  line-height: 2rem;
}

.testimonial-quote:before {
  content: open-quote;
}

.testimonial-quote:after {
  content: close-quote;
}

.testimonial-quote:before,
.testimonial-quote:after {
  display: inline-block;
  vertical-align: bottom;
  font-size: var(--font-size-lg);
  top: 0.2em;
  font-size: 2rem;
  position: relative;
}
.testimonial-img {
  cursor: zoom-in;
  height: 20rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.image-zoom {
  height: 60vh;
  width: auto;
  cursor: zoom-out;
  transition: 1s;
}

.testimonial:nth-child(even) img {
  background-color: var(--col-dark-grey);
  border: 1px solid var(--col-dark-grey);
}
.testimonial:nth-child(odd) img {
  background-color: var(--col-light-grey);
  border: 1px solid var(--col-light-grey);
}
