* {
  font-family: var(--font-family-main);
}

.testimonial-header {
  color: var(--col-dark-grey);
  height: 25vh;
  text-align: center;
  margin: 0 auto;
  width: 75vw;
  padding: 1rem;
}

.testimonials {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial:nth-child(even) {
  background-color: var(--col-light-grey);
  color: var(--col-dark-grey);
  box-shadow: var(--box-shadow);
}
.testimonial:nth-child(odd) {
  background-color: var(--col-dark-grey);
  color: var(--col-light-grey);
}

.testimonial {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}

.testimonial h2,
.testimonial-quote {
  font-size: var(--font-size-base);
  margin: 1rem;
}

.testimonial h2 {
  text-align: end;
  font-size: var(--font-size-md);
}

.testimonial-quote {
  font-style: italic;
}

.testimonial-quote:before {
  font-size: var(--font-size-xl);
  content: "\201C";
}

.testimonial-quote:after {
  font-size: var(--font-size-xl);
  content: "\201d";
}

.testimonial-img {
  height: 20rem;
}

.testimonial:nth-child(even) img {
  border: 0.1rem solid var(--col-dark-grey);
}
.testimonial:nth-child(odd) img {
  border: 0.1rem solid var(--col-light-grey);
}
